body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffdf8c;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  max-width: 1340px;
  margin: 45px auto;

  padding: 50px 80px;

  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  .wrapper {
    max-width: 1340px;
    margin: 0px auto;

    padding: 50px 0px;

    background: #ffffff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }
}
