.filter {
  li {
    margin-right: 8px;
    background: #f9f9f9;
    border-radius: 30px;
    cursor: pointer;

    span {
      padding: 25px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.015em;

      color: #2c2c2c;
    }
  }

  .activeFilter {
    background: #282828;
    span {
      color: #ffffff;
    }
  }
}
@media screen and (max-width: 1180px) {
  .filter {
    display: none;
  }
}
.sort {
  position: relative !important;
  img {
    cursor: pointer;
  }

  .transofrm {
    transform: rotate(0.5turn);
  }

  p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #2c2c2c;
  }

  span {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #fe5f1e;
    border-bottom: 1px dashed #fe5f1e;
  }
}

.popup {
  position: absolute;
  right: -5px;
  margin-top: 180px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;

  ul {
    overflow: hidden;
    li {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.015em;
      padding: 12px 20px;
      cursor: pointer;

      &.activeSort,
      &:hover {
        background: rgba(254, 95, 30, 0.05);
      }

      &.activeSort {
        font-weight: bold;
        color: #fe5f1e;
      }
    }
  }
}
