.card {
  width: 280px;
  height: 460px;

  .buttons {
    width: 280px;
    height: 85px;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 8px;

    li {
      width: 100%;
      font-weight: bold;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.015em;
      color: #2c2c2c;
      cursor: pointer;
      &.active {
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
      }
    }
  }

  span {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
  }

  b {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  .addButton {
    margin-left: 7px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #eb5a1e;
    box-sizing: border-box;
    border-radius: 30px;

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #eb5a1e;
    }
  }
}
